.characterCard {
  background: var(--color-black);
  position: relative;
  text-decoration: none;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 12.86px solid var(--color-white);
    border-left: 12.86px solid var(--color-black);
    width: 0;
  }

  &__image {
    height: 184.59px;
    border-bottom: 5.38px solid var(--color-red);
    overflow: hidden;

    img {
      width: 120%;
    }
  }
  &__propeties {
    padding: 16px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: var(--color-white);
      text-transform: uppercase;
      width: fit-content;
    }
  }
}
