.characterList {
  padding: 48px 48px 48px 48px;

  &__favoritesTitle {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
  }

  &__cardGrid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

  @media (max-width: 575px) {
    padding: 24px 16px 0 16px;
  }

  .loader {
    margin-top: 96px;
  }
}
