:root {
  --color-red-dark: #a51419;
  --color-red-light: #ef4a5044;
  --color-red: #ec1d24;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-border: #333333;
  --color-disabled: #bfbfbf;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    Roboto Condensed,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: var(--color-black);
}

p {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
