.characterDetail {
  &__info {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    gap: 48px;
    position: relative;

    img {
      max-width: 320px;
    }

    &-content {
      width: 592px;
      display: grid;
      align-content: center;
      gap: 24px;

      &-header {
        display: flex;
        justify-content: space-between;
        height: 38px;
        align-items: center;

        p {
          font-size: 32px;
          line-height: 37.5px;
          width: fit-content;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 24px solid var(--color-white);
      border-left: 24px solid var(--color-black);
      width: 0;
    }

    @media (max-width: 960px) {
      img {
        max-width: 278px;
      }
      &-content {
        padding-right: 48px;
      }
    }

    @media (max-width: 575px) {
      display: grid;

      img {
        max-width: 100%;
      }

      &-content {
        width: calc(100% - 32px);
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 48px;

        &-header {
          height: unset;
        }
      }
    }
  }
}
