.characterDetail {
  &__info {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    gap: 48px;
    position: relative;

    &-image {
      max-width: 320px;
      background-size: cover;
      background-repeat: no-repeat;
      height: 320px;
      width: -webkit-fill-available;

      .loader {
        height: inherit;
        align-content: center;
        background: rgba(255, 255, 255, 0.1);
      }
    }

    &-content {
      width: 592px;
      display: grid;
      align-content: center;
      gap: 24px;

      &-header {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        height: 38px;
        align-items: center;

        p {
          font-size: 32px;
          line-height: 37.5px;
          width: fit-content;
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-bottom: 24px solid var(--color-white);
      border-left: 24px solid var(--color-black);
      width: 0;
    }

    @media (max-width: 960px) {
      &-image {
        max-width: 278px;
        height: 278px;
      }
      &-content {
        padding-right: 48px;
      }
    }

    @media (max-width: 575px) {
      display: block;

      &-image {
        max-width: 100%;
        height: 398px;
      }

      &-content {
        width: calc(100% - 32px);
        padding: 24px 16px 48px 16px;

        &-header {
          height: unset;
        }
      }
    }
  }
}
